/Assets/Best HTTP (Pro)
/Assets/Best HTTP (Pro).meta
/Assets/UnityVS
/Assets/UnityVS.meta
/Assets/Plugins
/Assets/Plugins.meta
/obj
/Library
/Temp
/UnityVS.DHXDownloadManagerPublic.CSharp.Editor.csproj
/UnityVS.DHXDownloadManagerPublic.CSharp.csproj
/UnityVS.DHXDownloadManagerPublic.sln
/DHXDownloadManager.unitypackage
